#jsdom
    padding: 100px 0
    .chat
        background-color: #f8c471
        border-radius: 16px
        padding: 25px
        width: 520px 
        height: 350px
        .message
            background-color: #ffffff
            border-radius: 15px
            width: 470px
            height: 240px
            padding: 1px
            .line
                // width: 470px
                h3
                    font-size: 18px
