#jsdom
    padding: 100px 0
    .chat
        background-color: #f8c471
        border-radius: 20px
        padding: 25px
        width: 520px
        height: 350px
        .message
            background-color: #ffffff
            border-radius: 19px
            width: 470px
            height: 240px
            padding: 1px
            .line
                padding: 10px
                h3
                    font-size: 16px
                    color: #ffffff
                    text-align: center
                    background-color: #5f8094
                    border-radius: 32px
                    padding: 8px
                    width: 60px
                    height: 35px
        .text
            display: flex
            justify-content: center
            text-align: center
            padding: 20px 0
            input
                border-radius: 30px
                height: 36px
                margin-right: 10px
            .sent
                h3
                    font-size: 16px
                    color: #ffffff
                    text-align: center
                    padding: 7px
                    width: 75px
                    height: 33px
                    background-color: #5f8094
                    border-radius: 30px 